/*global*/
body {
	background-color: khaki;
}
#back {
	color:white;
	width: 100%;
	height: 45px;
	font-size: 150%;
	text-align: center;
	border: none;
	border-radius: 10px;
	background-color: rgb(142, 255, 240);
	}
#back:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	cursor: pointer;
}
/*index.html*/
#title {
	font-size: 300%;
	text-align: center;
	font-family: sans-serif;
	}

#intro {
	font-size: 75%;
	text-align: center;
	}
#portaltext {
	font-size: 100%;
	text-align: center;
	}
/*MyProfile.html*/
#profile {
	color:white;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 81, 81);
	}
#profile:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	cursor: pointer;
}
#profiletitle {
	text-align: center;
	font-size: 250%;
	box-shadow:  0px 0px 11px 11px rgb(36, 255, 255);
	background-color: rgb(36, 255,255);
	color: grey;
	}
#QA_Q {
	text-align: center;
	font-size: 250%
	}
#QA_A {
	text-align: center;
	font-size: 150%;
	color: rgb(54, 54, 54)
	}
/*MyWork.html*/
#work {
	color:white;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: rgb(81, 243, 255);
	}
#work:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	cursor: pointer;
	}
#dlw {
	color:Black;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: 2px 2px solid;
	border-radius: 5px;
	background-color: White;
	}
#dlp {
	color:Black;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: 2px 2px solid;
	border-radius: 5px;
	background-color: White;
	}
#mwtitle {
	border-color: black;
	border: 2pc 2pc solid;
	color: white;
	background-color: grey;
	font-size: 200%;
	text-align: center;
	border-radius: 5pc
	}
/*tools.html*/
#tool {
	color:white;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: rgb(129, 129, 129);
	}
#tool:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	cursor: pointer;
	}
/*tellrawgen.html*/
#tellrawgen {
	color:white;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: rgb(27, 212, 203);
	}
#tellrawgen:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	cursor: pointer;
	}
#optext {
	font-size: 150%;
	}
#tellrawop {
	font-size: 150%;
	color: black;
	}
#trback {
	background-color: powderblue;
	}
.troutput {
	background-color: lightcoral;
	}
#tellrawgendonebutton {
	background-color: rgb(235, 235, 235);
	border-color: black;
	border: 2px 2px solid;
	height: 200%;
	width: 100%;
	}
/*SearWebExtenLinks.html*/
#links {
	color:white;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: rgb(47, 179, 255);
	}
#links:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	cursor: pointer;
	}
#link {
	color:Black;
	width: 100%;
	height: 50px;
	font-size: 200%;
	text-align: center;
	border: 2px 2px solid;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	}
#link:hover {
	color:Black;
	width: 100%;
	height: 50px;
	font-size: 200%;
	text-align: center;
	border: 2px 2px solid;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.75);
	}
#discordbgimg {
	
	width: 50px;
	height: 50px;
	}
/*NameGen.html*/
#NameGen {
	color:white;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: rgb(226, 194, 15);
	}
#start {
	color: black;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: white;
	}
#starttext {
	font-size: 200%;
}
#output {
	font-size: 250%;
	color: darkcyan;
	text-align: center;
	border-color: black;
	border: 2px solid;
}
/*blog.html*/
#blog {
	color:#000000;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: #f5f5f5;
	}
#blog:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	cursor: pointer;
	}
/*ae.html*/
#ae {
	color:white;
	width: 100%;
	height: 150px;
	font-size: 200%;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: rgb(255, 159, 81);
	}
#ae:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	cursor: pointer;
	}